# Asterisk Manager Interface (AMI) Configuration
AMI_PORT=5038
AMI_HOST=asterisk
AMI_USERNAME=admin
AMI_PASSWORD=password123

# RabbitMQ Configuration
AMPQ_URL=amqp://admin:admin@rabbitmq:5672/
AMPQ_QUE=test

# HTTP Server Configuration
HTTP_PORT=3002
